POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=my_admin
DATABASE_URL=postgres://postgres:postgres@localhost:5432/my_admin
JWT_SECRET=change-me-to-a-random-secret-key
JWT_EXPIRATION_HOURS=24
SERVER_PORT=3000
RUST_LOG=debug
IMAGE_REGISTRY=docker.1ms.run/library/

# Default admin account (created on startup if not exists)
ADMIN_USERNAME=admin
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=admin123
